{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.AspNetCore.Authentication": "Warning",
      "Microsoft.IdentityModel": "Warning"
    }
  },
  "Auth": {
    "AllowDevBypass": true
  },
  "FieldWorker": {
    "DemoApiKey": ""
  }
}
